<?php

declare(strict_types=1);

return [
    'database' => [
        'host'       => 'localhost',
        'port'       => '3306',
        'dbname'     => 'mobicms',
        'user'       => 'root',
        'pass'       => '',
    ],
];
